    .section {
        padding: 3rem 1rem;

        @include respond(tab-port) {
            padding: 4rem 4rem;
        }
        
        @include respond(desktop) {
            padding: 6rem ;
        }

        
    }